.produk-materi1-container {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 209px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.produk-materi1-image {
  width: 100%;
  cursor: pointer;
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.produk-materi1-container1 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.produk-materi1-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.produk-materi1-text {
  width: 100%;
  font-size: 6px;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.produk-materi1-text3 {
  width: 100%;
  font-size: 6px;
  align-self: center;
  text-align: right;
}
.produk-materi1-text4 {
  width: 100%;
  font-size: 12px;
  align-self: center;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.produk-materi1-link {
  display: contents;
}
.produk-materi1-container3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 5px;
  transition: 0.5s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
}
.produk-materi1-container3:hover {
  transform: scale(105%);
  box-shadow: 0px 3px 0px 0px #6cc400,0px 3px 10px 0px #edff1b;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #07ff00;
}
.produk-materi1-text5 {
  color: var(--dl-color-gray-black);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}







@media(max-width: 479px) {
  .produk-materi1-container {
    width: 154px;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f7f7f7;
  }
  .produk-materi1-image {
    height: auto;
  }
  .produk-materi1-container1 {
    gap: 5px;
  }
  .produk-materi1-container2 {
    flex-direction: row;
  }
  .produk-materi1-text {
    font-size: 6px;
  }
  .produk-materi1-text3 {
    font-size: 6px;
    text-align: right;
  }
  .produk-materi1-text4 {
    font-size: 8px;
  }
  .produk-materi1-container3 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: auto;
    padding: 5px;
  }
  .produk-materi1-text5 {
    width: auto;
    font-size: 10px;
  }
}

.promo-promo {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  max-width: 685px;
  align-items: center;
  flex-direction: column;
}
.promo-text {
  color: rgb(206, 120, 9);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  margin-bottom: 0px;
}
.promo-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  overflow-x: scroll;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
}
.promo-link {
  color: var(--dl-color-scheme-darkblue);
  cursor: pointer;
  padding: var(--dl-space-space-halfunit);
  font-size: 12px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  font-family: Poppins;
  font-weight: 400;
  border-color: rgb(206, 120, 9);
  border-width: 1.2px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
}
.promo-link:hover {
  transform: scale(103%);
  background-color: rgb(206, 120, 9);
}





@media(max-width: 767px) {
  .promo-promo {
    padding-left: 32px;
    padding-right: 32px;
    flex-direction: column;
  }
  .promo-text {
    font-size: 16px;
    text-align: center;
    margin-right: 0px;
  }
}
@media(max-width: 479px) {
  .promo-promo {
    height: auto;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: 32px;
    justify-content: center;
    background-color: transparent;
  }
  .promo-text {
    font-size: 16px;
    text-align: center;
  }
  .promo-container {
    height: 100%;
  }
}

.form-simulasi-kredit-banner-container {
  width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  max-width: 1000px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.form-simulasi-kredit-container {
  width: 100%;
  display: flex;
  box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  flex-direction: column;
}
.form-simulasi-kredit-form {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 16px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: #f76500;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-simulasi-kredit-container01 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.form-simulasi-kredit-container02 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
}
.form-simulasi-kredit-text {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 30px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-simulasi-kredit-text1 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 14px;
  max-width: auto;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.form-simulasi-kredit-container03 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-simulasi-kredit-container04 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-simulasi-kredit-text2 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-simulasi-kredit-textinput {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-simulasi-kredit-container05 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.form-simulasi-kredit-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-simulasi-kredit-text3 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-simulasi-kredit-container07 {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: #04a701;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-simulasi-kredit-icon {
  fill: var(--dl-color-gray-white);
  width: 46px;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
}
.form-simulasi-kredit-textinput1 {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-simulasi-kredit-container08 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-simulasi-kredit-container09 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-simulasi-kredit-container10 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-simulasi-kredit-text4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-simulasi-kredit-select {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-simulasi-kredit-container11 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-simulasi-kredit-text5 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-simulasi-kredit-select1 {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-simulasi-kredit-container12 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.form-simulasi-kredit-text6 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 0px;
}
.form-simulasi-kredit-button {
  width: 100%;
  cursor: pointer;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius8);
  letter-spacing: 1px;
  background-color: #f4ff01;
}
.form-simulasi-kredit-image {
  width: 445px;
  height: 137px;
  margin-top: var(--dl-space-space-twounits);
  object-fit: cover;
}



@media(max-width: 991px) {
  .form-simulasi-kredit-image {
    width: 627px;
    height: 193px;
  }
}
@media(max-width: 767px) {
  .form-simulasi-kredit-container {
    width: 100%;
  }
  .form-simulasi-kredit-container01 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .form-simulasi-kredit-banner-container {
    width: 100%;
  }
  .form-simulasi-kredit-container {
    width: 100%;
    margin-right: 0px;
  }
  .form-simulasi-kredit-form {
    gap: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .form-simulasi-kredit-container01 {
    width: 100%;
    flex-direction: column;
  }
  .form-simulasi-kredit-container02 {
    align-items: center;
  }
  .form-simulasi-kredit-text {
    font-size: 20px;
  }
  .form-simulasi-kredit-text1 {
    width: 100%;
    text-align: center;
  }
  .form-simulasi-kredit-container12 {
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .form-simulasi-kredit-image {
    width: 311px;
    height: 96px;
  }
}

.simulasi-kredit-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.simulasi-kredit-stnk {
  flex: 0 0 auto;
  display: flex;
  max-width: 685px;
  align-items: flex-start;
  flex-direction: column;
}
.simulasi-kredit-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
@media(max-width: 479px) {
  .simulasi-kredit-stnk {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
