.announcement-announcement {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 16px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: center;
  background-color: #d28b00;
}
.announcement-announcement:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.announcement-title {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.announcement-link {
  display: contents;
}
.announcement-button {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  transition: 0.5s;
  align-items: center;
  border-color: rgba(255, 255, 255, 0);
  flex-direction: row;
  padding-bottom: 4px;
  text-decoration: none;
  border-bottom-width: 1px;
}
.announcement-button:hover {
  gap: var(--dl-space-space-unit);
  border-color: #ffffff;
}
.announcement-button-text {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.announcement-button-text1 {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}
.announcement-root-class-name {
  flex: 0 0 auto;
  width: 100%;
}
.announcement-root-class-name1 {
  flex: 0 0 auto;
  width: 100%;
}
@media(max-width: 991px) {
  .announcement-announcement {
    align-items: flex-start;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .announcement-announcement {
    align-items: flex-start;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .announcement-announcement {
    flex-direction: row;
    justify-content: center;
  }
}

.links-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  z-index: 15;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-column {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header {
  color: #222222;
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-link {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-column1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header1 {
  color: #222222;
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-link1 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link1:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link2 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link2:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link3 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link3:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link4 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link4:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link5 {
  color: #ffffff;
  cursor: pointer;
  padding: var(--dl-space-space-unit);
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: #037a16;
}
.links-link5:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-container {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media(max-width: 991px) {
  .links-links {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .links-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .links-links {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .links-link {
    color: #373737;
  }
  .links-link1 {
    color: #373737;
  }
  .links-link2 {
    color: #373737;
  }
  .links-link3 {
    color: #373737;
  }
  .links-link4 {
    color: #373737;
  }
}

.navbar-navbar {
  width: 100%;
  display: flex;
  max-width: auto;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.21);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: #ffffff;
}
.navbar-desktop {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-main {
  gap: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-navlink {
  display: contents;
}
.navbar-finbest {
  width: 149px;
  height: 42px;
  text-decoration: none;
}
.navbar-links {
  gap: var(--dl-space-space-threeunits);
  width: 589px;
  display: flex;
  align-items: flex-start;
  padding-top: 12px;
  border-radius: 6px;
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: flex-end;
}
.navbar-link {
  cursor: pointer;
}
.navbar-link1 {
  cursor: pointer;
  text-decoration: none;
}
.navbar-quick-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-link2 {
  display: contents;
}
.navbar-sign-up-btn {
  gap: var(--dl-space-space-unit);
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  background-color: #04b502;
}
.navbar-sign-up-btn:hover {
  background-color: #02d000;
}
.navbar-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.navbar-link3 {
  color: #ffffff;
}
.navbar-hamburger-menu {
  width: 20px;
  height: 12px;
  display: none;
}
.navbar-mobile {
  gap: var(--dl-space-space-fourunits);
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  z-index: 200;
  position: fixed;
  transform: translateX(100%);
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-image {
  width: 149px;
  height: 42px;
  text-decoration: none;
}
.navbar-icon2 {
  width: 28px;
  height: 28px;
}
.navbar-container1 {
  display: contents;
}
@media(max-width: 991px) {
  .navbar-navbar {
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .navbar-links {
    display: none;
  }
  .navbar-sign-up-btn {
    display: none;
  }
  .navbar-hamburger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    align-items: center;
  }
  .navbar-mobile {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .navbar-finbest {
    width: 138px;
    height: 37px;
  }
  .navbar-image {
    width: 138px;
    height: 37px;
  }
}

.form-submit-banner-container {
  width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  max-width: 1000px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.form-submit-container {
  width: 100%;
  display: flex;
  box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  flex-direction: column;
}
.form-submit-form {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 16px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: #f76500;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-submit-text {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 24px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-submit-text1 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 16px;
  max-width: auto;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: none;
  text-decoration: none;
}
.form-submit-container01 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-container02 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-text2 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-textinput {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-submit-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.form-submit-container04 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-text3 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-container05 {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: #04a701;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-submit-icon {
  fill: var(--dl-color-gray-white);
  width: 46px;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
}
.form-submit-textinput1 {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-submit-container06 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-container07 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-text4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-textinput2 {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-submit-container08 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-text5 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-select {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-submit-container09 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-text6 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-select1 {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-submit-container10 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.form-submit-text7 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 0px;
}
.form-submit-button {
  width: 100%;
  cursor: pointer;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius8);
  letter-spacing: 1px;
  background-color: #f4ff01;
}

@media(max-width: 767px) {
  .form-submit-container {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .form-submit-banner-container {
    width: 100%;
  }
  .form-submit-container {
    width: 100%;
    margin-right: 0px;
  }
  .form-submit-form {
    gap: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #ffffff;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-pasted-image {
  width: 150px;
}
.footer-text {
  color: #1e1e1e;
  font-size: 16px;
  font-family: Poppins;
  line-height: 21px;
}
.footer-socials {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text1 {
  color: #1e1e1e;
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
}

@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-pasted-image {
    width: 100px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-socials {
    gap: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .footer-content {
    align-items: center;
  }
  .footer-pasted-image {
    width: 194px;
    height: 54px;
  }
  .footer-text {
    font-size: 14px;
  }
}

.whats-app-container {
  width: 100%;
  bottom: 0px;
  height: 400px;
  display: none;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.whats-app-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(13, 153, 0) 0.00%,rgb(28, 204, 0) 100.00%);
}
.whats-app-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.whats-app-icon {
  width: 24px;
  height: 24px;
}



@media(max-width: 479px) {
  .whats-app-container {
    height: 64px;
    display: flex;
    z-index: 100;
    max-width: 1000px;
    align-items: center;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    justify-content: center;
  }
  .whats-app-container1 {
    gap: var(--dl-space-space-halfunit);
    height: 64px;
    z-index: 100;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .whats-app-container2 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: 100%;
  }
  .whats-app-icon {
    fill: #ffffff;
  }
  .whats-app-text {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-sections {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: #ffffff;
}
.home-section {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 10;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: space-between;
}
.home-content {
  gap: var(--dl-space-space-twounits);
  width: 647px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: rgb(0, 0, 0);
  width: 492px;
  font-size: 40px;
  max-width: 535px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 800;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.home-text04 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.home-link {
  display: contents;
}
.home-button {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(255, 255, 255, 0);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #f76500;
  border-bottom-width: 1px;
}
.home-button:hover {
  gap: var(--dl-space-space-unit);
  border-color: #ffffff;
}
.home-button-text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.home-button-text01 {
  color: #ffffff;
  font-size: 18px;
  transform: rotate(90deg);
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.home-image {
  width: 298px;
  height: 366px;
  object-fit: cover;
}
.home-section1 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  height: auto;
  display: flex;
  z-index: 10;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
.home-container01 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image01 {
  width: 425px;
  height: 203px;
  object-fit: cover;
}
.home-container02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image02 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-image03 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-image04 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-image05 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-content1 {
  gap: var(--dl-space-space-twounits);
  width: 470px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-container03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #f76500;
}
.home-point {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-check {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-icon {
  fill: #f76500;
  width: 12px;
  height: 12px;
}
.home-text08 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.home-text10 {
  font-weight: 600;
}
.home-point1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-check1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-icon02 {
  fill: #f76500;
  width: 12px;
  height: 12px;
}
.home-text11 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.home-text12 {
  font-style: normal;
}
.home-text13 {
  font-weight: 600;
}
.home-point2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-check2 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-icon04 {
  fill: #f76500;
  width: 12px;
  height: 12px;
}
.home-text14 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.home-text16 {
  font-weight: 600;
}
.home-point3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-check3 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-icon06 {
  fill: #f76500;
  width: 12px;
  height: 12px;
}
.home-text17 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.home-text19 {
  font-style: normal;
  font-weight: 600;
}
.home-link1 {
  display: contents;
}
.home-button1 {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(255, 255, 255, 0);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #f76500;
  border-bottom-width: 1px;
}
.home-button1:hover {
  gap: var(--dl-space-space-unit);
  border-color: #ffffff;
}
.home-button-text02 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.home-button-text03 {
  color: #ffffff;
  font-size: 18px;
  transform: rotate(90deg);
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.home-container04 {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image06 {
  width: 376px;
  height: 180px;
  object-fit: cover;
}
.home-container05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image07 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-image08 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-image09 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-image10 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home-section2 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  height: auto;
  display: flex;
  z-index: 10;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
.home-content2 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text20 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  max-width: 535px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 800;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.home-text22 {
  color: #f76500;
}
.home-container06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #f76500;
}
.home-point4 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-check4 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-icon08 {
  fill: #000000;
  width: 12px;
  height: 12px;
}
.home-text23 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.home-point5 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-check5 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-icon10 {
  fill: #000000;
  width: 12px;
  height: 12px;
}
.home-text24 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.home-point6 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-check6 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-icon12 {
  fill: #000000;
  width: 12px;
  height: 12px;
}
.home-text25 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.home-point7 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-check7 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-icon14 {
  fill: #000000;
  width: 12px;
  height: 12px;
}
.home-text26 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.home-point8 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-check8 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-icon16 {
  fill: #000000;
  width: 12px;
  height: 12px;
}
.home-text27 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.home-link2 {
  display: contents;
}
.home-button2 {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(255, 255, 255, 0);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #f76500;
  border-bottom-width: 1px;
}
.home-button2:hover {
  gap: var(--dl-space-space-unit);
  border-color: #ffffff;
}
.home-button-text04 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.home-button-text05 {
  color: #ffffff;
  font-size: 18px;
  transform: rotate(90deg);
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.home-image11 {
  width: 405px;
  height: 303px;
  object-fit: cover;
}
.home-banner-container {
  width: 100%;
  display: flex;
  max-width: 1000px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: 0px;
  flex-direction: column;
}
.home-banner {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 16px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #f76500;
}
.home-container07 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text28 {
  color: rgb(255, 255, 255);
  width: 186px;
  font-size: 24px;
  max-width: auto;
  font-style: normal;
  font-family: "Inter";
  font-weight: 800;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.home-container08 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  overflow-x: scroll;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-container09 {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-container09:active {
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.home-image12 {
  width: 295px;
  height: 295px;
  object-fit: cover;
}
.home-button-text06 {
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.home-link3 {
  display: contents;
}
.home-button3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-self: flex-start;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(255, 255, 255, 0);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
  border-bottom-width: 1px;
}
.home-button3:hover {
  gap: var(--dl-space-space-unit);
  transform: scale(102%);
  box-shadow: 5px 5px 10px 0px #c6c6c6;
  border-color: #ffffff;
}
.home-button-text07 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.home-button-text08 {
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.home-image13 {
  right: 9px;
  width: 33px;
  bottom: 64px;
  height: 33px;
  z-index: 1;
  position: absolute;
  object-fit: cover;
}
.home-container10 {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.home-container10:active {
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.home-image14 {
  width: 295px;
  height: 295px;
  object-fit: cover;
}
.home-button-text09 {
  color: rgb(0, 0, 0);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
.home-link4 {
  display: contents;
}
.home-button4 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-self: flex-start;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(255, 255, 255, 0);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-color: #fff700;
  border-bottom-width: 1px;
}
.home-button4:hover {
  gap: var(--dl-space-space-unit);
  transform: scale(102%);
  box-shadow: 5px 5px 10px 0px #c6c6c6;
  border-color: #ffffff;
}
.home-button-text10 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.home-button-text11 {
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.home-image15 {
  right: 9px;
  width: 33px;
  bottom: 64px;
  height: 33px;
  z-index: 1;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-section {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
  }
  .home-content {
    gap: var(--dl-space-space-unit);
    width: 475px;
  }
  .home-text {
    width: 100%;
  }
  .home-image {
    width: 333px;
    height: 409px;
  }
  .home-section1 {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
  }
  .home-image01 {
    width: 333px;
    height: auto;
  }
  .home-image02 {
    width: 43px;
    height: auto;
  }
  .home-image03 {
    width: 43px;
    height: auto;
  }
  .home-image04 {
    width: 43px;
    height: auto;
  }
  .home-image05 {
    width: 43px;
    height: auto;
  }
  .home-content1 {
    gap: var(--dl-space-space-unit);
    width: 475px;
  }
  .home-image06 {
    width: 333px;
    height: auto;
  }
  .home-image07 {
    width: 43px;
    height: auto;
  }
  .home-image08 {
    width: 43px;
    height: auto;
  }
  .home-image09 {
    width: 43px;
    height: auto;
  }
  .home-image10 {
    width: 43px;
    height: auto;
  }
  .home-section2 {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
  }
  .home-content2 {
    gap: var(--dl-space-space-unit);
    width: 475px;
  }
  .home-image11 {
    width: 333px;
    height: auto;
  }
}
@media(max-width: 767px) {
  .home-section1 {
    gap: var(--dl-space-space-fourunits);
  }
  .home-container04 {
    display: none;
  }
  .home-section2 {
    gap: var(--dl-space-space-fourunits);
  }
  .home-banner {
    height: auto;
    position: relative;
  }
}
@media(max-width: 479px) {
  .home-section {
    height: auto;
    flex-direction: column;
  }
  .home-content {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    align-items: center;
  }
  .home-text {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 800;
    line-height: 1.15;
    text-transform: capitalize;
    text-decoration: none;
  }
  .home-text03 {
    color: #ff0000;
  }
  .home-text04 {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
  }
  .home-text06 {
    color: #f76500;
    font-weight: 700;
  }
  .home-button {
    justify-content: center;
  }
  .home-image {
    width: 310px;
    height: 381px;
  }
  .home-section1 {
    gap: var(--dl-space-space-fourunits);
    height: 800px;
    flex-direction: column;
    justify-content: center;
  }
  .home-container01 {
    display: none;
  }
  .home-image01 {
    width: 100%;
    height: auto;
    display: none;
  }
  .home-image02 {
    width: 100%;
    height: auto;
    display: none;
  }
  .home-image03 {
    width: 100%;
    height: auto;
    display: none;
  }
  .home-image04 {
    width: 100%;
    height: auto;
    display: none;
  }
  .home-image05 {
    width: 100%;
    height: auto;
    display: none;
  }
  .home-content1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    align-items: center;
  }
  .home-button1 {
    justify-content: center;
  }
  .home-container04 {
    display: flex;
  }
  .home-image06 {
    width: 100%;
    height: auto;
  }
  .home-image07 {
    width: 43px;
    height: auto;
  }
  .home-image08 {
    width: 43px;
    height: auto;
  }
  .home-image09 {
    width: 43px;
    height: auto;
  }
  .home-image10 {
    width: 43px;
    height: auto;
  }
  .home-section2 {
    gap: var(--dl-space-space-fourunits);
    height: 800px;
    flex-direction: column;
    justify-content: center;
  }
  .home-content2 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    align-items: center;
  }
  .home-text20 {
    text-align: center;
  }
  .home-button2 {
    justify-content: center;
  }
  .home-image11 {
    width: 100%;
    height: auto;
  }
  .home-banner {
    gap: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-container07 {
    width: 100%;
    align-items: center;
  }
  .home-text28 {
    align-self: center;
    text-align: center;
  }
  .home-container08 {
    width: 100%;
  }
  .home-image12 {
    width: 282px;
    height: 282px;
  }
  .home-button3 {
    justify-content: center;
  }
  .home-image14 {
    width: 282px;
    height: 282px;
  }
  .home-button4 {
    justify-content: center;
  }
}
