.form-submit-promo-banner-container {
  width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  max-width: 1000px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.form-submit-promo-container {
  width: 100%;
  display: flex;
  box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  flex-direction: column;
}
.form-submit-promo-form {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 16px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: #f76500;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-submit-promo-container01 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.form-submit-promo-image {
  width: 200px;
  object-fit: cover;
  border-color: #ffffff;
  border-width: 4px;
  border-radius: var(--dl-radius-radius-round);
}
.form-submit-promo-container02 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
  flex-direction: column;
}
.form-submit-promo-text {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 30px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-submit-promo-text1 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 14px;
  max-width: auto;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.form-submit-promo-text2 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 16px;
  max-width: auto;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.form-submit-promo-container03 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-container04 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-text3 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-promo-textinput {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-submit-promo-container05 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.form-submit-promo-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-text4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-promo-container07 {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: #04a701;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-submit-promo-icon {
  fill: var(--dl-color-gray-white);
  width: 46px;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
}
.form-submit-promo-textinput1 {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-submit-promo-container08 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-container09 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-text5 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-promo-textinput2 {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-submit-promo-container10 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-submit-promo-container11 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-text6 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-promo-select {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-submit-promo-container12 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-text7 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-promo-select1 {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-submit-promo-container13 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.form-submit-promo-text8 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 0px;
}
.form-submit-promo-button {
  width: 100%;
  cursor: pointer;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius8);
  letter-spacing: 1px;
  background-color: #f4ff01;
}

@media(max-width: 767px) {
  .form-submit-promo-container {
    width: 100%;
  }
  .form-submit-promo-container01 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .form-submit-promo-banner-container {
    width: 100%;
  }
  .form-submit-promo-container {
    width: 100%;
    margin-right: 0px;
  }
  .form-submit-promo-form {
    gap: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .form-submit-promo-container01 {
    width: 100%;
    flex-direction: column;
  }
  .form-submit-promo-container02 {
    align-items: center;
  }
  .form-submit-promo-text {
    font-size: 20px;
  }
  .form-submit-promo-text1 {
    width: 100%;
    text-align: center;
  }
}

.berita-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.berita-berita {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.berita-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  max-width: 535px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
}
.berita-berita1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  overflow-x: scroll;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.berita-link {
  display: contents;
}
.berita-image {
  width: 384px;
  height: 384px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.berita-link1 {
  display: contents;
}
.berita-image1 {
  width: 384px;
  height: 384px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.berita-link2 {
  display: contents;
}
.berita-image2 {
  width: 384px;
  height: 384px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.berita-video {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.berita-text03 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  max-width: 535px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 600;
}
.berita-berita2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  overflow-x: scroll;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.berita-container02 {
  display: contents;
}
.berita-container04 {
  display: contents;
}
.berita-container05 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  overflow-x: scroll;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.berita-container06 {
  gap: var(--dl-space-space-unit);
  width: 372px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f5f5f5;
}
.berita-container07 {
  width: 100%;
  height: 332px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.berita-video1 {
  width: 100%;
  height: auto;
  border-radius: var(--dl-radius-radius-radius8);
}
.berita-container08 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.berita-text06 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.berita-text07 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.berita-link3 {
  font-size: 14px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.berita-container09 {
  gap: var(--dl-space-space-unit);
  width: 372px;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.berita-container10 {
  width: 100%;
  height: 332px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.berita-video2 {
  width: 100%;
  height: auto;
  border-radius: var(--dl-radius-radius-radius8);
}
.berita-container11 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.berita-text08 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.berita-text09 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.berita-link4 {
  font-size: 14px;
  align-self: flex-end;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}
.berita-root-class-name {
  max-width: 1000px;
}
.berita-root-class-name1 {
  max-width: 1000px;
}
.berita-root-class-name2 {
  max-width: 1000px;
}
.berita-root-class-name3 {
  max-width: 1000px;
}
@media(max-width: 479px) {
  .berita-container {
    height: 100%;
  }
  .berita-berita {
    height: auto;
  }
  .berita-text {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: normal;
    font-family: Inter;
    font-weight: 600;
  }
  .berita-image {
    width: 322px;
    height: 321px;
  }
  .berita-image1 {
    width: 322px;
    height: 321px;
  }
  .berita-image2 {
    width: 322px;
    height: 321px;
  }
  .berita-video {
    margin-top: var(--dl-space-space-twounits);
  }
  .berita-text03 {
    color: rgb(0, 0, 0);
  }
  .berita-container05 {
    width: 100%;
  }
  .berita-container06 {
    width: auto;
  }
  .berita-container07 {
    gap: var(--dl-space-space-unit);
    width: 316px;
  }
  .berita-container09 {
    width: auto;
  }
  .berita-container10 {
    gap: var(--dl-space-space-unit);
    width: 316px;
  }
}

.links-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  z-index: 15;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-column {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header {
  color: #222222;
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-link {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-column1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header1 {
  color: #222222;
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-link1 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link1:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link2 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link2:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link3 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link3:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link4 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link4:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link5 {
  color: #ffffff;
  cursor: pointer;
  padding: var(--dl-space-space-unit);
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: #037a16;
}
.links-link5:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-container {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media(max-width: 991px) {
  .links-links {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .links-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .links-links {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .links-link {
    color: #373737;
  }
  .links-link1 {
    color: #373737;
  }
  .links-link2 {
    color: #373737;
  }
  .links-link3 {
    color: #373737;
  }
  .links-link4 {
    color: #373737;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #ffffff;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-pasted-image {
  width: 150px;
}
.footer-text {
  color: #1e1e1e;
  font-size: 16px;
  font-family: Poppins;
  line-height: 21px;
}
.footer-socials {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text1 {
  color: #1e1e1e;
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
}



@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-pasted-image {
    width: 100px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-socials {
    gap: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .footer-content {
    align-items: center;
  }
  .footer-pasted-image {
    width: 194px;
    height: 54px;
  }
  .footer-text {
    font-size: 14px;
  }
}

.whats-app-container {
  width: 100%;
  bottom: 0px;
  height: auto;
  display: flex;
  z-index: 40;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.whats-app-link {
  display: contents;
}
.whats-app-container1 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  max-width: 1000px;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(13, 153, 0) 0.00%,rgb(28, 204, 0) 100.00%);
}
.whats-app-container2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.whats-app-icon {
  fill: #ffffff;
  width: 41px;
  height: 100%;
}
.whats-app-container3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.whats-app-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.whats-app-text1 {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
}




@media(max-width: 991px) {
  .whats-app-container {
    display: flex;
  }
}
@media(max-width: 767px) {
  .whats-app-container {
    display: flex;
  }
}
@media(max-width: 479px) {
  .whats-app-container {
    height: 64px;
    display: flex;
    z-index: 100;
    max-width: auto;
    align-items: center;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    justify-content: center;
  }
  .whats-app-container1 {
    gap: var(--dl-space-space-halfunit);
    height: 64px;
    z-index: 100;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-twounits);
    justify-content: center;
  }
  .whats-app-container2 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: 100%;
  }
  .whats-app-icon {
    fill: #ffffff;
  }
  .whats-app-text {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .whats-app-text1 {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
}

.promo-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.promo-sections {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1000px;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: #ffffff;
}
.promo-section {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 10;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: space-between;
}
.promo-content {
  gap: var(--dl-space-space-twounits);
  width: 647px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.promo-text {
  color: rgb(0, 0, 0);
  width: 492px;
  font-size: 40px;
  max-width: 535px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 800;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.promo-text03 {
  color: #f76500;
}
.promo-text05 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(255, 0, 0);
}
.promo-text07 {
  font-weight: 700;
}
.promo-text09 {
  font-weight: 700;
}
.promo-image {
  width: 298px;
  height: 366px;
  object-fit: cover;
}
.promo-link {
  display: contents;
}
.promo-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(13, 153, 0) 0.00%,rgb(28, 204, 0) 100.00%);
}
.promo-icon {
  width: 24px;
  height: 24px;
}
.promo-section1 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  height: auto;
  display: flex;
  z-index: 10;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: center;
}
.promo-container02 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.promo-image01 {
  width: 425px;
  height: 203px;
  object-fit: cover;
}
.promo-container03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.promo-image02 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.promo-image03 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.promo-image04 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.promo-image05 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #c0c0c0;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.promo-content1 {
  gap: var(--dl-space-space-twounits);
  width: 470px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.promo-container04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: #f76500;
}
.promo-point {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.promo-check {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.promo-icon02 {
  fill: #f76500;
  width: 12px;
  height: 12px;
}
.promo-text16 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.promo-text18 {
  font-weight: 600;
}
.promo-point1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.promo-check1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.promo-icon04 {
  fill: #f76500;
  width: 12px;
  height: 12px;
}
.promo-text19 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.promo-text20 {
  font-style: normal;
}
.promo-text21 {
  font-weight: 600;
}
.promo-point2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.promo-check2 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.promo-icon06 {
  fill: #f76500;
  width: 12px;
  height: 12px;
}
.promo-text22 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.promo-text24 {
  font-weight: 600;
}
.promo-point3 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.promo-check3 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.promo-icon08 {
  fill: #f76500;
  width: 12px;
  height: 12px;
}
.promo-text25 {
  color: #ffffff;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
}
.promo-text27 {
  font-style: normal;
  font-weight: 600;
}
.promo-container05 {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.promo-image06 {
  width: 376px;
  height: 180px;
  object-fit: cover;
}
.promo-container06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.promo-image07 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.promo-image08 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.promo-image09 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.promo-image10 {
  width: 42px;
  height: 42px;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.promo-container07 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  z-index: 10;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.promo-text28 {
  color: rgb(0, 0, 0);
  width: 492px;
  font-size: 40px;
  max-width: 535px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 800;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.promo-text31 {
  color: #f76500;
}
.promo-container08 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.promo-image11 {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.promo-text33 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(255, 0, 0);
}
.promo-text35 {
  font-weight: 700;
}
.promo-text37 {
  font-weight: 700;
}
.promo-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.promo-image12 {
  width: 100%;
  object-fit: cover;
}
.promo-container10 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  justify-content: flex-start;
}
.promo-image13 {
  width: 200px;
  object-fit: cover;
}
.promo-image14 {
  width: 200px;
  object-fit: cover;
}
.promo-image15 {
  width: 200px;
  object-fit: cover;
}
.promo-image16 {
  width: 200px;
  object-fit: cover;
}
.promo-image17 {
  width: 200px;
  object-fit: cover;
}
.promo-image18 {
  width: 200px;
  object-fit: cover;
}
.promo-image19 {
  width: 200px;
  object-fit: cover;
}
.promo-image20 {
  width: 200px;
  object-fit: cover;
}
.promo-section2 {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 10;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-radius: 20PX;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #f76500;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.promo-image21 {
  width: 445px;
  height: 137px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .promo-section {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
  }
  .promo-content {
    gap: var(--dl-space-space-unit);
    width: 475px;
  }
  .promo-text {
    width: 100%;
  }
  .promo-image {
    width: 333px;
    height: 409px;
  }
  .promo-section1 {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
  }
  .promo-image01 {
    width: 333px;
    height: auto;
  }
  .promo-image02 {
    width: 43px;
    height: auto;
  }
  .promo-image03 {
    width: 43px;
    height: auto;
  }
  .promo-image04 {
    width: 43px;
    height: auto;
  }
  .promo-image05 {
    width: 43px;
    height: auto;
  }
  .promo-content1 {
    gap: var(--dl-space-space-unit);
    width: 475px;
  }
  .promo-image06 {
    width: 333px;
    height: auto;
  }
  .promo-image07 {
    width: 43px;
    height: auto;
  }
  .promo-image08 {
    width: 43px;
    height: auto;
  }
  .promo-image09 {
    width: 43px;
    height: auto;
  }
  .promo-image10 {
    width: 43px;
    height: auto;
  }
  .promo-container07 {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .promo-text28 {
    width: 100%;
  }
  .promo-section2 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    justify-content: center;
  }
  .promo-image21 {
    width: 627px;
    height: 193px;
  }
}
@media(max-width: 767px) {
  .promo-section1 {
    gap: var(--dl-space-space-fourunits);
  }
  .promo-container05 {
    display: none;
  }
  .promo-container07 {
    gap: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 479px) {
  .promo-section {
    height: auto;
    flex-direction: column;
  }
  .promo-content {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    align-items: center;
  }
  .promo-text {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 800;
    line-height: 1.15;
    text-transform: capitalize;
    text-decoration: none;
  }
  .promo-text05 {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
  }
  .promo-text07 {
    font-weight: 700;
  }
  .promo-text09 {
    font-weight: 700;
  }
  .promo-image {
    width: 310px;
    height: 381px;
  }
  .promo-container01 {
    gap: var(--dl-space-space-halfunit);
    height: 47px;
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: var(--dl-radius-radius-radius8);
  }
  .promo-icon {
    fill: #ffffff;
  }
  .promo-text15 {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .promo-section1 {
    gap: var(--dl-space-space-fourunits);
    height: 800px;
    flex-direction: column;
    justify-content: center;
  }
  .promo-container02 {
    display: none;
  }
  .promo-image01 {
    width: 100%;
    height: auto;
    display: none;
  }
  .promo-image02 {
    width: 100%;
    height: auto;
    display: none;
  }
  .promo-image03 {
    width: 100%;
    height: auto;
    display: none;
  }
  .promo-image04 {
    width: 100%;
    height: auto;
    display: none;
  }
  .promo-image05 {
    width: 100%;
    height: auto;
    display: none;
  }
  .promo-content1 {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    align-items: center;
  }
  .promo-container05 {
    display: flex;
  }
  .promo-image06 {
    width: 100%;
    height: auto;
  }
  .promo-image07 {
    width: 43px;
    height: auto;
  }
  .promo-image08 {
    width: 43px;
    height: auto;
  }
  .promo-image09 {
    width: 43px;
    height: auto;
  }
  .promo-image10 {
    width: 43px;
    height: auto;
  }
  .promo-container07 {
    gap: var(--dl-space-space-twounits);
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  .promo-text28 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 800;
    line-height: 1.15;
    text-transform: capitalize;
    text-decoration: none;
  }
  .promo-text33 {
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
  }
  .promo-text35 {
    font-weight: 700;
  }
  .promo-text37 {
    font-weight: 700;
  }
  .promo-section2 {
    height: auto;
    padding-top: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .promo-image21 {
    width: 311px;
    height: 96px;
  }
}
