.otr-container {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: #ffffff;
}
.otr-text {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 18px;
  max-width: 1000px;
  text-align: center;
  font-weight: 400;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.otr-text03 {
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 25px;
  max-width: 1000px;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.otr-container1 {
  gap: var(--dl-space-space-unit);
  left: 0px;
  right: 0px;
  width: 232px;
  bottom: -14px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-right: auto;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
  background-color: #ff0101;
}
.otr-text07 {
  color: #ffffff;
  width: auto;
  font-size: 10px;
  max-width: 1000px;
  text-align: center;
  font-weight: 400;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 0px;
  padding-bottom: 0px;
}
.otr-root-class-name {
  width: auto;
  align-self: flex-start;
}
.otr-root-class-name1 {
  width: auto;
  align-self: flex-start;
}
@media(max-width: 991px) {
  .otr-container {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    align-items: center;
    justify-content: center;
  }
  .otr-text {
    padding: 0px;
  }
  .otr-root-class-name {
    width: auto;
    align-self: flex-start;
  }
  .otr-root-class-name1 {
    width: auto;
    align-self: flex-start;
  }
}
@media(max-width: 767px) {
  .otr-container {
    gap: var(--dl-space-space-halfunit);
    align-items: center;
    justify-content: center;
  }
  .otr-text {
    padding: 0px;
  }
  .otr-text03 {
    font-style: normal;
    font-weight: 700;
  }
  .otr-root-class-name {
    width: auto;
    align-self: center;
  }
  .otr-root-class-name1 {
    width: auto;
    align-self: center;
  }
}
@media(max-width: 479px) {
  .otr-container {
    gap: var(--dl-space-space-halfunit);
    align-items: center;
    justify-content: center;
  }
  .otr-text {
    color: rgb(0, 0, 0);
    padding: 0px;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    background-color: transparent;
  }
  .otr-text03 {
    color: rgb(0, 0, 0);
    padding: var(--dl-space-space-halfunit);
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    background-color: transparent;
  }
  .otr-text04 {
    font-size: 30px;
    font-weight: 700;
  }
  .otr-text05 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
  }
  .otr-text06 {
    font-style: normal;
  }
  .otr-text07 {
    color: #ffffff;
    font-size: 10px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    background-color: transparent;
  }
  .otr-root-class-name {
    width: auto;
    align-self: center;
  }
  .otr-root-class-name1 {
    width: auto;
    align-self: center;
  }
}

.form-submit-promo-scoopy-banner-container {
  width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  max-width: 1000px;
  align-items: center;
  margin-left: 0px;
  margin-right: 0px;
  flex-direction: column;
}
.form-submit-promo-scoopy-container {
  width: 100%;
  display: flex;
  box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  flex-direction: column;
}
.form-submit-promo-scoopy-form {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-unit);
  border-radius: 16px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: #f76500;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-submit-promo-scoopy-container01 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.form-submit-promo-scoopy-container02 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  margin-bottom: 0px;
  flex-direction: column;
}
.form-submit-promo-scoopy-text {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 30px;
  max-width: auto;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.form-submit-promo-scoopy-text1 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 14px;
  max-width: auto;
  font-style: normal;
  margin-top: 0px;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
.form-submit-promo-scoopy-container03 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-scoopy-container04 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-scoopy-text2 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-promo-scoopy-textinput {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-submit-promo-scoopy-container05 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.form-submit-promo-scoopy-container06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-scoopy-text3 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-promo-scoopy-container07 {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  background-color: #04a701;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form-submit-promo-scoopy-icon {
  fill: var(--dl-color-gray-white);
  width: 46px;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
}
.form-submit-promo-scoopy-textinput1 {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-submit-promo-scoopy-container08 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-scoopy-container09 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.form-submit-promo-scoopy-container10 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-scoopy-text4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-promo-scoopy-select {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-submit-promo-scoopy-container11 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form-submit-promo-scoopy-text5 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.form-submit-promo-scoopy-select1 {
  width: 100%;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
}
.form-submit-promo-scoopy-container12 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.form-submit-promo-scoopy-text6 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 0px;
}
.form-submit-promo-scoopy-button {
  width: 100%;
  cursor: pointer;
  height: 46px;
  padding: var(--dl-space-space-halfunit);
  font-style: normal;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius8);
  letter-spacing: 1px;
  background-color: #f4ff01;
}


@media(max-width: 767px) {
  .form-submit-promo-scoopy-container {
    width: 100%;
  }
  .form-submit-promo-scoopy-container01 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .form-submit-promo-scoopy-banner-container {
    width: 100%;
  }
  .form-submit-promo-scoopy-container {
    width: 100%;
    margin-right: 0px;
  }
  .form-submit-promo-scoopy-form {
    gap: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .form-submit-promo-scoopy-container01 {
    width: 100%;
    flex-direction: column;
  }
  .form-submit-promo-scoopy-container02 {
    align-items: center;
  }
  .form-submit-promo-scoopy-text {
    font-size: 20px;
  }
  .form-submit-promo-scoopy-text1 {
    width: 100%;
    text-align: center;
  }
}

.whats-app-container {
  width: 100%;
  bottom: 0px;
  height: auto;
  display: flex;
  z-index: 40;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.whats-app-container1 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #f3f3f3;
}
.whats-app-link {
  display: contents;
}
.whats-app-container2 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-color: #f3f3f3;
}
.whats-app-image {
  width: auto;
  height: 20px;
  object-fit: cover;
}
.whats-app-text {
  font-size: 8px;
  text-align: center;
}
.whats-app-link1 {
  display: contents;
}
.whats-app-container3 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-color: #f3f3f3;
}
.whats-app-image1 {
  width: auto;
  height: 20px;
  object-fit: cover;
}
.whats-app-text1 {
  font-size: 8px;
  text-align: center;
}
.whats-app-navlink {
  display: contents;
}
.whats-app-container4 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-color: #f3f3f3;
}
.whats-app-image2 {
  width: auto;
  height: 20px;
  object-fit: cover;
}
.whats-app-text2 {
  font-size: 8px;
  text-align: center;
}
.whats-app-link2 {
  display: contents;
}
.whats-app-container5 {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-color: #f3f3f3;
}
.whats-app-image3 {
  width: auto;
  height: 20px;
  object-fit: cover;
}
.whats-app-text3 {
  font-size: 8px;
  text-align: center;
}
.whats-app-link3 {
  display: contents;
}
.whats-app-container6 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: 74px;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(13, 153, 0) 0.00%,rgb(28, 204, 0) 100.00%);
}
.whats-app-container7 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.whats-app-icon {
  fill: #ffffff;
  width: 41px;
  height: 100%;
}
.whats-app-container8 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.whats-app-text4 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.whats-app-text5 {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}







@media(max-width: 991px) {
  .whats-app-container {
    display: flex;
  }
}
@media(max-width: 767px) {
  .whats-app-container {
    display: flex;
  }
  .whats-app-container2 {
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .whats-app-container3 {
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .whats-app-container4 {
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .whats-app-container5 {
    width: auto;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .whats-app-container {
    height: auto;
    display: flex;
    z-index: 100;
    max-width: auto;
    align-items: center;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    justify-content: flex-end;
  }
  .whats-app-container1 {
    gap: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .whats-app-container2 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .whats-app-image {
    height: 20px;
  }
  .whats-app-text {
    font-size: 9px;
  }
  .whats-app-container3 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .whats-app-image1 {
    height: 20px;
  }
  .whats-app-text1 {
    font-size: 9px;
  }
  .whats-app-container4 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .whats-app-image2 {
    height: 20px;
  }
  .whats-app-text2 {
    font-size: 9px;
  }
  .whats-app-container5 {
    gap: var(--dl-space-space-halfunit);
    width: auto;
    height: auto;
    padding: var(--dl-space-space-halfunit);
  }
  .whats-app-image3 {
    height: 20px;
  }
  .whats-app-text3 {
    font-size: 9px;
  }
  .whats-app-container6 {
    gap: var(--dl-space-space-halfunit);
    height: auto;
    z-index: 100;
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    margin-right: 0px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
    justify-content: center;
  }
  .whats-app-container7 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .whats-app-icon {
    fill: #ffffff;
  }
  .whats-app-text4 {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .whats-app-text5 {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

.scoopy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.scoopy-sections {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1000px;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: #ffffff;
}
.scoopy-section {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 10;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  justify-content: space-between;
}
.scoopy-content {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.scoopy-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.scoopy-text {
  color: rgb(0, 0, 0);
  width: auto;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.scoopy-container2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.scoopy-text03 {
  color: rgb(0, 0, 0);
  width: auto;
  font-size: 18px;
  max-width: 535px;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.scoopy-text06 {
  color: rgb(0, 0, 0);
  width: auto;
  font-size: 18px;
  max-width: 535px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 800;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.scoopy-text09 {
  color: rgb(0, 0, 0);
  width: 492px;
  font-size: 30px;
  max-width: 535px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 800;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.scoopy-container3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.scoopy-image {
  width: 100%;
  height: 366px;
  object-fit: cover;
}
.scoopy-slider {
  width: 100%;
  height: 395px;
  display: inline-block;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  border-radius: 20px;
}
.scoopy-slider-slide {
  display: flex;
  border-radius: 20px;
  background-size: cover;
  background-image: url('https://ik.imagekit.io/zlt25mb52fx/ahmcdn/tr:w-1400,pr-true,f-auto/uploads/product-draft/technology/fa-slide-9-1920x800-pixels-01-25102023-055806.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.scoopy-slider-slide01 {
  display: flex;
  border-radius: 20px;
  background-size: cover;
  background-image: url('https://ik.imagekit.io/zlt25mb52fx/ahmcdn/tr:w-1400,pr-true,f-auto/uploads/product-draft/technology/fa-slide-19-1920x800-pixels-25102023-055811.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.scoopy-slider-pagination {
  display: block;
}
.scoopy-slider-button-prev {
  display: none;
}
.scoopy-slider-button-next {
  display: none;
}
.scoopy-text12 {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: none;
  font-size: 18px;
  max-width: 1000px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: rgb(255, 0, 0);
}
.scoopy-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.scoopy-text22 {
  color: rgb(0, 0, 0);
  width: 492px;
  font-size: 20px;
  max-width: 535px;
  text-align: center;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.15;
  text-transform: capitalize;
  text-decoration: none;
}
.scoopy-slider1 {
  width: 328px;
  height: 330px;
  display: inline-block;
}
.scoopy-slider-slide02 {
  display: flex;
  background-size: cover;
  background-image: url('https://ik.imagekit.io/zlt25mb52fx/ahmcdn/uploads/product-draft/colors/prestige-black-515x504px-25102023-055339.png');
  background-repeat: no-repeat;
  background-position: center;
}
.scoopy-slider-slide03 {
  display: flex ;
  background-size: cover;
  background-image: url('https://ik.imagekit.io/zlt25mb52fx/ahmcdn/uploads/product-draft/colors/prestige-white-515x504px-25102023-055345.png');
  background-position: center;
}
.scoopy-slider-slide04 {
  display: flex ;
  background-size: cover;
  background-image: url('https://ik.imagekit.io/zlt25mb52fx/ahmcdn/uploads/product-draft/colors/stylish-red-515x504px-25102023-055354.png');
  background-position: center;
}
.scoopy-slider-slide05 {
  display: flex ;
  background-size: cover;
  background-image: url('https://ik.imagekit.io/zlt25mb52fx/ahmcdn/uploads/product-draft/colors/stylish-green-515x504px-25102023-055405.png');
  background-position: center;
}
.scoopy-slider-slide06 {
  display: flex ;
  background-size: cover;
  background-image: url('https://ik.imagekit.io/zlt25mb52fx/ahmcdn/uploads/product-draft/colors/fashion-blue-515x504px-25102023-055411.png');
  background-position: center;
}
.scoopy-slider-slide07 {
  display: flex ;
  background-size: cover;
  background-image: url('https://ik.imagekit.io/zlt25mb52fx/ahmcdn/uploads/product-draft/colors/fashion-brown-515x504px-25102023-055418.png');
  background-position: center;
}
.scoopy-slider-slide08 {
  display: flex ;
  background-size: cover;
  background-image: url('https://ik.imagekit.io/zlt25mb52fx/ahmcdn/uploads/product-draft/colors/sporty-grey-515x504px-25102023-055443.png');
  background-position: center;
}
.scoopy-slider-slide09 {
  display: flex ;
  background-size: cover;
  background-image: url('https://ik.imagekit.io/zlt25mb52fx/ahmcdn/uploads/product-draft/colors/sporty-red-515x504px-25102023-055457.png');
  background-position: center;
}
.scoopy-slider-pagination1 {
  height: var(--dl-size-size-xsmall);
  display: block;
}
.scoopy-slider-button-prev1 {
  display: none;
}
.scoopy-slider-button-next1 {
  display: none;
}
.scoopy-section1 {
  gap: 0;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 10;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.scoopy-image1 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.scoopy-stnk {
  flex: 0 0 auto;
  display: flex;
  max-width: 685px;
  align-items: flex-start;
  flex-direction: column;
}
.scoopy-image2 {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
}
.scoopy-section2 {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 10;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-radius: 20PX;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  background-color: #f76500;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.scoopy-image3 {
  width: 445px;
  height: 137px;
  object-fit: cover;
}
@media(max-width: 991px) {
  .scoopy-section {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
  }
  .scoopy-content {
    gap: var(--dl-space-space-unit);
    width: 475px;
  }
  .scoopy-text09 {
    width: 100%;
  }
  .scoopy-container3 {
    align-self: flex-start;
  }
  .scoopy-image {
    width: 470px;
    height: 327px;
  }
  .scoopy-container4 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .scoopy-text22 {
    width: 100%;
    font-size: 20px;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 700;
  }
  .scoopy-section1 {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
  }
  .scoopy-image1 {
    width: 100%;
    height: auto;
  }
  .scoopy-section2 {
    gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-fourunits);
    flex-direction: row;
    justify-content: center;
  }
  .scoopy-image3 {
    width: 627px;
    height: 193px;
  }
}
@media(max-width: 767px) {
  .scoopy-section {
    flex-direction: column;
  }
  .scoopy-content {
    align-items: center;
  }
  .scoopy-container1 {
    align-items: center;
  }
  .scoopy-text09 {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 800;
    line-height: 1.15;
    text-transform: capitalize;
    text-decoration: none;
  }
  .scoopy-container3 {
    align-self: flex-start;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .scoopy-container4 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .scoopy-text22 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: capitalize;
    text-decoration: none;
  }
  .scoopy-section1 {
    gap: 0;
  }
  .scoopy-image1 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .scoopy-section {
    height: auto;
    flex-direction: column;
  }
  .scoopy-content {
    gap: var(--dl-space-space-unit);
    width: 100%;
    align-items: center;
    margin-right: 0px;
  }
  .scoopy-container1 {
    align-items: center;
  }
  .scoopy-text {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .scoopy-text03 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .scoopy-text06 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-style: normal;
    font-family: Inter;
    font-weight: 800;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .scoopy-text09 {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 800;
    line-height: 1.15;
    text-transform: capitalize;
    text-decoration: none;
  }
  .scoopy-container3 {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .scoopy-image {
    width: 100%;
    height: 311px;
  }
  .scoopy-text12 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    background-color: rgb(255, 0, 0);
  }
  .scoopy-text14 {
    font-weight: 700;
  }
  .scoopy-text16 {
    font-weight: 700;
  }
  .scoopy-container4 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .scoopy-text22 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: 1.15;
    text-transform: capitalize;
    text-decoration: none;
  }
  .scoopy-slider-slide02 {
    width: 100%;
  }
  .scoopy-section1 {
    gap: var(--dl-space-space-fourunits);
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  .scoopy-image1 {
    width: 100%;
    height: auto;
  }
  .scoopy-stnk {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .scoopy-section2 {
    height: auto;
    padding-top: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .scoopy-image3 {
    width: 311px;
    height: 96px;
  }
}
