.terkirim-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.terkirim-link {
  display: contents;
}
.terkirim-button {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  transition: 0.5s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: rgba(255, 255, 255, 0);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #f76500;
  border-bottom-width: 1px;
}
.terkirim-button:hover {
  gap: var(--dl-space-space-unit);
  border-color: #ffffff;
}
.terkirim-icon {
  fill: #ffffff;
  width: 21px;
  height: 21px;
}
.terkirim-button-text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}
.terkirim-button-text1 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
}
@media(max-width: 479px) {
  .terkirim-button {
    justify-content: center;
  }
}
