.social-media-container {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.social-media-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.social-media-text {
  font-style: normal;
  font-weight: 500;
}
.social-media-container2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.social-media-link {
  display: contents;
}
.social-media-container3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: outset;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(252, 0, 255) 0.00%,rgb(0, 219, 222) 100.00%);
}
.social-media-icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.social-media-text1 {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.social-media-link1 {
  display: contents;
}
.social-media-container4 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: outset;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(252, 0, 255) 0.00%,rgb(0, 219, 222) 100.00%);
}
.social-media-icon2 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.social-media-text2 {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.social-media-link2 {
  display: contents;
}
.social-media-container5 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ffffff;
  border-style: outset;
  border-width: 2px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-image: linear-gradient(135deg, rgb(252, 0, 255) 0.00%,rgb(0, 219, 222) 100.00%);
}
.social-media-icon4 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.social-media-text3 {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}







@media(max-width: 767px) {
  .social-media-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .social-media-container {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .social-media-container3 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    justify-content: center;
    background-color: #c8c8c8;
  }
  .social-media-text1 {
    font-style: normal;
    font-weight: 500;
  }
  .social-media-container4 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    justify-content: center;
    background-color: #c8c8c8;
  }
  .social-media-text2 {
    font-style: normal;
    font-weight: 500;
  }
  .social-media-container5 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    justify-content: center;
    background-color: #c8c8c8;
  }
  .social-media-text3 {
    font-style: normal;
    font-weight: 500;
  }
}

.links-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  z-index: 15;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-column {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header {
  color: #222222;
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-link {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.links-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: 0px;
  padding-bottom: 0px;
}
.links-text {
  color: rgb(34, 34, 34);
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-text:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-dropdown-arrow {
  transition: 0.3s;
}
.links-icon {
  fill: #000000;
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.links-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.links-dropdown {
  width: auto;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.links-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.links-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.links-text1 {
  color: rgb(34, 34, 34);
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-text1:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.links-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.links-text2 {
  color: rgb(34, 34, 34);
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-text2:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-column1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header1 {
  color: #222222;
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-link1 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link1:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link2 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link2:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link3 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link3:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link4 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link4:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link5 {
  color: #ffffff;
  cursor: pointer;
  padding: var(--dl-space-space-unit);
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: #037a16;
}
.links-link5:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-container {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media(max-width: 991px) {
  .links-links {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .links-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .links-links {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .links-link {
    color: #373737;
  }
  .links-text {
    color: #373737;
  }
  .links-text1 {
    color: #373737;
  }
  .links-text2 {
    color: #373737;
  }
  .links-link1 {
    color: #373737;
  }
  .links-link2 {
    color: #373737;
  }
  .links-link3 {
    color: #373737;
  }
  .links-link4 {
    color: #373737;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #ffffff;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-pasted-image {
  width: 150px;
}
.footer-text {
  color: #1e1e1e;
  font-size: 16px;
  font-family: Poppins;
  line-height: 21px;
}
.footer-socials {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text1 {
  color: #1e1e1e;
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
}





@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-pasted-image {
    width: 100px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-socials {
    gap: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .footer-content {
    align-items: center;
  }
  .footer-pasted-image {
    width: 194px;
    height: 54px;
  }
  .footer-text {
    font-size: 14px;
  }
}

.update-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.update-stnk {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  max-width: 685px;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.update-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.update-image1 {
  width: 119px;
  height: 75px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.update-text {
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 479px) {
  .update-stnk {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
