.links-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  z-index: 15;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.links-column {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header {
  color: #222222;
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-link {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-column1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.links-header1 {
  color: #222222;
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.links-link1 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link1:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link2 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link2:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link3 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link3:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link4 {
  color: #222222;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  text-decoration: none;
}
.links-link4:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-link5 {
  color: #ffffff;
  cursor: pointer;
  padding: var(--dl-space-space-unit);
  font-size: 18px;
  transition: 0.3s;
  line-height: 21px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: #037a16;
}
.links-link5:hover {
  color: rgba(196, 196, 196, 0.5);
}
.links-container {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media(max-width: 991px) {
  .links-links {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media(max-width: 767px) {
  .links-links {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .links-links {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .links-link {
    color: #373737;
  }
  .links-link1 {
    color: #373737;
  }
  .links-link2 {
    color: #373737;
  }
  .links-link3 {
    color: #373737;
  }
  .links-link4 {
    color: #373737;
  }
}

.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #ffffff;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-pasted-image {
  width: 150px;
}
.footer-text {
  color: #1e1e1e;
  font-size: 16px;
  font-family: Poppins;
  line-height: 21px;
}
.footer-socials {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text1 {
  color: #1e1e1e;
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
}

@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
  }
  .footer-content {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-information {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-pasted-image {
    width: 100px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
  .footer-socials {
    gap: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .footer-content {
    align-items: center;
  }
  .footer-pasted-image {
    width: 194px;
    height: 54px;
  }
  .footer-text {
    font-size: 14px;
  }
}
