<div>
  <link href="./links.css" rel="stylesheet" />
  <div class="links-links">
    <div class="links-column">
      <span class="links-header"><span>Halaman</span></span>
      <a href="index.html" class="links-link"><span>Home</span></a>
      <div data-thq="thq-dropdown" class="links-thq-dropdown list-item">
        <div data-thq="thq-dropdown-toggle" class="links-dropdown-toggle">
          <span class="links-text">Promo</span>
          <div data-thq="thq-dropdown-arrow" class="links-dropdown-arrow">
            <svg viewBox="0 0 1024 1024" class="links-icon">
              <path d="M426 726v-428l214 214z"></path>
            </svg>
          </div>
        </div>
        <ul data-thq="thq-dropdown-list" class="links-dropdown-list">
          <li data-thq="thq-dropdown" class="links-dropdown list-item">
            <div data-thq="thq-dropdown-toggle" class="links-dropdown-toggle1">
              <span class="links-text1">Promo BeAT</span>
            </div>
            <a href="promo-scoopy.html">
              <div
                data-thq="thq-dropdown-toggle"
                class="links-dropdown-toggle2"
              >
                <span class="links-text2">Promo Scoopy</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="links-column1">
      <span class="links-header1"><span>Kontak</span></span>
      <a
        href="https://bit.ly/Instagram-MPMMadiunDigital"
        target="_blank"
        rel="noreferrer noopener"
        class="links-link1"
      >
        <span>Instagram</span>
      </a>
      <a
        href="https://bit.ly/Facebook-MPMMadiunDigital"
        target="_blank"
        rel="noreferrer noopener"
        class="links-link2"
      >
        <span>Facebook</span>
      </a>
      <a
        href="https://bit.ly/Whatsapp-MPMMadiunDigital"
        target="_blank"
        rel="noreferrer noopener"
        class="links-link3"
      >
        <span>WhatsApp</span>
      </a>
      <a
        href="https://maps.app.goo.gl/JDKHrJcx4ZsuFzh29"
        target="_blank"
        rel="noreferrer noopener"
        class="links-link4"
      >
        <span>Lokasi dealer</span>
      </a>
      <a
        href="https://bit.ly/GroupWA-MPMMadiunDigital"
        target="_blank"
        rel="noreferrer noopener"
        class="links-link5"
      >
        <span>Group WhatsApp</span>
      </a>
    </div>
    <div class="links-container"></div>
  </div>
</div>
