<div>
  <link href="./otr.css" rel="stylesheet" />
  <div class="otr-container">
    <strong data-aos="fade-up" class="otr-text">
      <span>OTR</span>
      <br />
    </strong>
    <strong data-aos="fade-up" class="otr-text03">
      <span class="otr-text04">Rp.</span>
      <span class="otr-text05">23,136.000</span>
      <br class="otr-text06" />
    </strong>
    <div class="otr-container1">
      <strong data-aos="fade-up" class="otr-text07">
        <span>**Harga dapat berubah sewaktu waktu</span>
        <br />
      </strong>
    </div>
  </div>
</div>
