<div>
  <link href="./produk-materi1.css" rel="stylesheet" />
  <div class="produk-materi1-container">
    <img
      alt="Fitur"
      src="https://ik.imagekit.io/MPMFastTrack/Bank%20Data/Banner/Sosmed%20Matprom%20Tahun%20Baru%20Motor%20Baru.jpg?updatedAt=1704956791731"
      loading="lazy"
      class="produk-materi1-image"
    />
    <div class="produk-materi1-container1">
      <div class="produk-materi1-container2">
        <span class="produk-materi1-text">
          <span>Promo terbaru</span>
          <br />
        </span>
        <span class="produk-materi1-text3"><span>Januari 2024</span></span>
      </div>
      <span class="produk-materi1-text4"><span>Name Software</span></span>
      <a
        href
        target="_blank"
        rel="noreferrer noopener"
        class="produk-materi1-link"
      >
        <div class="produk-materi1-container3">
          <span class="produk-materi1-text5"><span>Klaim Promo</span></span>
        </div>
      </a>
    </div>
  </div>
</div>
