<div>
  <link href="./produk-motor.css" rel="stylesheet" />
  <div class="produk-motor-container">
    <img
      alt="Fitur"
      src="https://media.mayar.id/images/f36a67cd-2ba9-446a-a6d7-e1a231f84e3e.jpeg"
      loading="lazy"
      class="produk-motor-image"
    />
    <div class="produk-motor-container1">
      <div class="produk-motor-container2"></div>
      <span class="produk-motor-text"><span>NamaMotor</span></span>
      <div class="produk-motor-container3">
        <span class="produk-motor-text1"><span>Harga mulai</span></span>
        <span class="produk-motor-text2"><span>23.000.000</span></span>
      </div>
      <a
        href
        target="_blank"
        rel="noreferrer noopener"
        class="produk-motor-link"
      >
        <div class="produk-motor-container4">
          <span class="produk-motor-text3"><span>Selengkapnya -></span></span>
        </div>
      </a>
    </div>
  </div>
</div>
