<div>
  <link href="./promo.css" rel="stylesheet" />
  <div class="promo-promo">
    <h1 class="promo-text"><span>Promo Bulan Ini</span></h1>
    <div class="promo-container">
      <div class="produk-materi1-container produk-materi1-root-class-name1">
        <img
          alt="Fitur"
          src="https://ik.imagekit.io/MPMFastTrack/Bank%20Data/Banner/Sosmed%20Matprom%20Tahun%20Baru%20Motor%20Baru.jpg?updatedAt=1704956791731"
          loading="lazy"
          class="produk-materi1-image"
        />
        <div class="produk-materi1-container1">
          <div class="produk-materi1-container2">
            <span class="produk-materi1-text">
              <span>Promo terbaru</span>
              <br />
            </span>
            <span class="produk-materi1-text3"><span>Januari 2024</span></span>
          </div>
          <span class="produk-materi1-text4">
            <span>TAHUN BARU MOTOR BARU</span>
          </span>
          <a
            href="https://api.whatsapp.com/send?phone=6287860034211&text=Saya%20ingin%20klaim%20promo%20terbaru"
            target="_blank"
            rel="noreferrer noopener"
            class="produk-materi1-link"
          >
            <div class="produk-materi1-container3">
              <span class="produk-materi1-text5"><span>Klaim Promo</span></span>
            </div>
          </a>
        </div>
      </div>
      <div class="produk-materi1-container produk-materi1-root-class-name5">
        <img
          alt="Fitur"
          src="https://ik.imagekit.io/MPMFastTrack/Bank%20Data/Banner/WhatsApp%20Image%202024-01-11%20at%2016.11.47_062fdeaf.jpg?updatedAt=1704964345779"
          loading="lazy"
          class="produk-materi1-image"
        />
        <div class="produk-materi1-container1">
          <div class="produk-materi1-container2">
            <span class="produk-materi1-text">
              <span>Promo terbaru</span>
              <br />
            </span>
            <span class="produk-materi1-text3"><span>Januari 2024</span></span>
          </div>
          <span class="produk-materi1-text4">
            <span>PROMO BEAT SERIES</span>
          </span>
          <a
            href="https://api.whatsapp.com/send?phone=6287860034211&text=Saya%20ingin%20klaim%20promo%20BEAT%20Series"
            target="_blank"
            rel="noreferrer noopener"
            class="produk-materi1-link"
          >
            <div class="produk-materi1-container3">
              <span class="produk-materi1-text5"><span>Klaim Promo</span></span>
            </div>
          </a>
        </div>
      </div>
      <div class="produk-materi1-container produk-materi1-root-class-name6">
        <img
          alt="Fitur"
          src="https://ik.imagekit.io/MPMFastTrack/Bank%20Data/Banner/Tiara.jpeg?updatedAt=1704964573418"
          loading="lazy"
          class="produk-materi1-image"
        />
        <div class="produk-materi1-container1">
          <div class="produk-materi1-container2">
            <span class="produk-materi1-text">
              <span>Promo terbaru</span>
              <br />
            </span>
            <span class="produk-materi1-text3"><span>Januari 2024</span></span>
          </div>
          <span class="produk-materi1-text4"><span>WhatsApp Tiara</span></span>
          <a
            href="https://api.whatsapp.com/send?phone=6287860034211&text=Saya%20ingin%20klaim%20promo%20BEAT%20Series"
            target="_blank"
            rel="noreferrer noopener"
            class="produk-materi1-link"
          >
            <div class="produk-materi1-container3">
              <span class="produk-materi1-text5">
                <span>Hubungi Tiara</span>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <a href class="promo-link"><span>Lihat Promo Terbaru</span></a>
  </div>
</div>
